<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Chat</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<body>
    <h1>hello</h1>
    <form id="form">
        <input type="text" name="message"/>
    </form>
    <div id="messages"></div>
    <script type="text/javascript">
        let url = `ws://${window.location.host}/ws/socket-server/`;
        const ChatSocket = new WebSocket(url);
        ChatSocket.onmessage = function(e){
            let data = JSON.parse(e.data)

            console.log(data)
            if (data.type === 'chat'){

                message = data.message
                let messages = document.getElementById('messages')
                messages.insertAdjacentHTML('beforeend', `<div>
                                        <p>${message}</p>                        
                                        </div>`)
                messages.style.backgroundColor='green';
            }
            }
        let form = document.getElementById('form')
        form.addEventListener('submit', (e)=>{
            e.preventDefault()
            let message = e.target.message.value 
            ChatSocket.send(JSON.stringify({
                'message':message
            }))
            form.reset() 
        })
    </script>
</body>

</html>